*.pyc
*.swp
predictions/*
old_experiments/*
experiments/*
*.txt
*.png
!tests/**/*.png
dataset/tests/*
scripts/predict/pipeline/evaluation/gt
outputs
.DS_Store
.idea/
venv
*.pt
*.pth

lightning_logs
.vscode
.ipynb_checkpoints
__pycache__
conll_outputs
exp.ipynb

entity-switched-ner
neckar/*
!neckar/Process.ipynb

.job
OntoNotes-5.0*
rxnorm
Identifying*
extras